body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    background-color: #f0f0f2;
}
/*---HEADER---*/
.bgimage {
    background-image: url(../imgs/scarves.jpg);
    background-position: center center;;
    background-size: cover;
    height: auto;
}
.sg-logo {
    padding: 1rem 0;
}
.header-nav {
    float: right;
}
.header-nav a{
    color: #fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
}
.header-nav a:hover{
    border-bottom: 3px solid #fff;
}
.intro {
    color: #fff;
}
.join-btn {
    font-family: 'Cabin', sans-serif;
    color: #444;
    background-color: #fff;
    border-radius: .1rem;
    padding: .75rem 2rem;
}

/*---CARDS--*/
.card-nav a {
    position: relative;
    display: block;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
    color: #444;
}
.card-nav a:hover, .nav .active {
    border-bottom: 3px solid #444;
}
.card-img-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.card {
    margin: 1rem 0;
    border-radius: 0;
    border: none;
}
.cause-cards {
    padding: 2rem;
}
.location {
    color: #aaa;
}
.loc-svg {
    padding: 0 .1rem .2rem 0;
}
