body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    background-color: #f0f0f2;
}
/*--- HEADER ---*/
.bgimage {
    background-image: url(../imgs/scarves1.jpg);
    background-position: center center;;
    background-size: cover;
    height: auto;
}
.sg-logo {
    padding: 1rem 0;
}
.header-nav {
    float: right;
}
.header-nav a{
    color: #fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
}
.header-nav a:hover{
    border-bottom: 3px solid #fff;
}
.intro {
    color: #fff;
}
.lead {
    font-size: 1.75rem;
}
.join-btn {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: #444;
    background-color: #fff;
    border-radius: .1rem;
    padding: .75rem 2rem;
    margin: 0 auto 2rem auto;
    cursor: pointer;
}

/*--- CARDS ---*/
.card-nav a {
    position: relative;
    display: block;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
    color: #444;
}
.card-nav a:hover, .nav .active {
    border-bottom: 3px solid #444;
}
.card-img-top {
    border-top-right-radius: .1rem;
    border-top-left-radius: .1rem;
}
.card {
    margin: 1rem 0;
    border-radius: .1rem;
    border: none;
}
.cause-cards {
    padding: 2rem;
}
.location {
    color: #aaa;
}
.loc-svg {
    padding: 0 .1rem .2rem 0;
}
@media (min-width: 768px) {
    .intro {
        margin: -4rem 0 0 0;
    }
}
