body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    background-color: #F0F0F2;
    color: #373F47;
}

/*--- HEADER ---*/
.bgimage {
    background-image: url(../imgs/scarves1.jpg);
    background-position: center center;;
    background-size: cover;
    height: auto;
}
.bgimage-about {
    background-image: url(../imgs/crafts1.jpg);
    background-attachment: fixed;
    padding-bottom: 2rem;
}
.sg-logo {
    padding: 1rem 1rem;
}
.header-nav {
    float: right;
}
.header-nav a{
    color: #fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
}
.header-nav a:hover{
    border-bottom: 3px solid #fff;
}
.intro {
    color: #fff;
    margin: 0 2rem;
}
.about {
    background-color: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.about h2 {
    margin-bottom: 1.5rem;
}
.about h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.lead {
    font-size: 1.5rem;
}
.btn {
    font-weight: 700;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    border-radius: 2px;
    padding: .75rem 2rem;
    border: none;
}
.join-btn {
    color: #2E5EAA;
    background-color: #fff;
    margin: 0 auto 2rem auto;
}
.join-btn:hover {
    color: #fff;
    background-color: #2E5EAA;
    margin: 0 auto 2rem auto;
    transition: all 0.3s ease 0s;
}
.about .join-btn {
    background-color: #eee;
    margin: 1rem 0 1rem;
}
@media (min-width: 768px) { /*small and up*/
    .intro {
        margin: -5rem 0 0 0;
    }
    .lead {
        font-size: 2rem;
    }
    .about {
      font-size: 20px;
    }
}
@media (min-width: 992px) { /*medium and up*/
    .intro{
        margin: -6rem 0 2rem 0;
    }
    .about {
      margin: -6rem 0 0 0;
    }
}

/*--- CARDS ---*/
.card-nav .nav-link {
    position: relative;
    display: block;
    margin: 0 1rem 0.5rem;
    padding: 0.5rem 0;
    color: #373F47;
    cursor: pointer;
}
.card-nav .nav-link:hover {
    color: #2E5EAA;
    border-bottom: 3px solid #2E5EAA;
}
.active {
    border-bottom: 3px solid #373F47;
}
.card-columns {
  /*@include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }*/
}
.card-img-top {
    border-top-right-radius: .1rem;
    border-top-left-radius: .1rem;
}
.card {
    margin: 2rem 0 0;
    border-radius: 2px;
    border: none;
}
.cause-cards {
    padding: 2rem;
}
.card-title h4 a {
    color: #2E5EAA;
}
.location {
    color: #AAABBC;
}
.loc-svg {
    padding: 0 .1rem .2rem 0;
}
.by-cause h4 {
    margin-bottom: 0;
}
.by-craft .card-title, .by-cause .card-title {
    text-align: center;
}
.by-craft .card-block {
    text-align: center;
}
.card-icon {
    width: 6rem;
    margin: 0 auto 1rem;
}

/*--- MODAL ---*/
.modal-content {
    border-radius: 2px;
    color: #373F47;
    padding: 0 1rem;
}
.modal-header {
    color: #2E5EAA;
}
.form-control {
    font-family: 'Cabin', sans-serif;
    border-radius: 2px;
}
.form-label {
    color: #2E5EAA;
}
.modal .btn-primary {
    background-color: #2E5EAA;
}
.modal .btn-primary:hover {
    background-color: #538EED;
}
.modal .btn-link {
    color: #AAABBC;
    font-weight: 400;
}
.modal .btn-link:hover {
    color: #F64740;
}
.social {
    width: 2rem;
    margin: 0 .75rem 0 0;
}

/*--- FOOTER ---*/
.footer {
  text-align: center;
  margin-top: 2rem;
}
